<div class="container">
  <div class="sign_up">
    <button><%= link_to("Sign Up", new_users_url) %></button>
  </div>
  <div class="new_picture_button">
    <button><%= link_to("New Picture", "/pictures/new") %></button>
  </div>

  <section class="gallery most_recent">
    <h1>Recent (<%= @recent_pictures.length %>)</h1>
    <% @recent_pictures.each do |picture| %>
      <div class="picture">
        <%= link_to(image_tag(picture.url), picture_url(picture)) %>
        <p>"<%= picture.title %>"</p>
        <p><strong>- <%= picture.artist %></strong></p>
      </div>
    <% end %>
  </section>

  <section class="gallery old_pictures">
    <h1>Old (<%= @old_pictures.length %>)</h1>
    <% @old_pictures.each do |picture| %>
      <div class="picture">
        <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
        <p>"<%= picture.title %>"</p>
        <p><strong>- <%= picture.artist %></strong></p>
      </div>
    <% end %>
  </section>

  <section class="gallery old_pictures">
    <h1>All (<%= @pictures.length %>)</h1>
    <% @pictures.each do |picture| %>
      <div class="picture">
        <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
        <p>"<%= picture.title %>"</p>
        <p><strong>- <%= picture.artist %></strong></p>
      </div>
    <% end %>
  </section>
</div>
